# IMDb Top 250 Movies

In [40]:
import pandas as pd

In [41]:
df_film_list=pd.read_html("https://www.imdb.com/chart/top")#downloading data from www and saving as list-readhtml method
len(df_film_list)

1

In [42]:
df_film_list[0]

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. Skazani na Shawshank (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. Ojciec chrzestny (1972),9.2,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. Mroczny Rycerz (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. Ojciec chrzestny II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. Dwunastu gniewnych ludzi (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN
...,...,...,...,...,...
245,NaN,246. Dersu Uzała (1975),8.0,12345678910 NOT YET RELEASED Seen,NaN
246,NaN,247. Aladyn (1992),8.0,12345678910 NOT YET RELEASED Seen,NaN
247,NaN,248. Gandhi (1982),8.0,12345678910 NOT YET RELEASED Seen,NaN
248,NaN,249. Służące (2011),8.0,12345678910 NOT YET RELEASED Seen,NaN
249,NaN,250. Stalowy gigant (1999),8.0,12345678910 NOT YET RELEASED Seen,NaN

## beautifull soup and lxml library instaling

In [43]:
!pip install bs4 lxml

Requirement already satisfied: bs4 in c:\users\biuro\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: lxml in c:\users\biuro\anaconda3\lib\site-packages (4.6.3)
Requirement already satisfied: beautifulsoup4 in c:\users\biuro\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\biuro\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)

In [44]:
import bs4
import requests

In [45]:
import requests

cookies = {
    'session-id': '144-2749664-5747925',
    'session-id-time': '2082787201l',
    'csm-hit': 'tb:7TSKYFGYXAVK42FANVPF+s-VY5AM2WSVN7E5TCB3TDZ|1664432430631&t:1664432430631&adb:adblk_no',
    'ubid-main': '133-9067747-5858961',
    'uu': 'eyJpZCI6InV1ZDYwOTgzNjIwZTc3NDRmMzg1ZWMiLCJwcmVmZXJlbmNlcyI6eyJmaW5kX2luY2x1ZGVfYWR1bHQiOmZhbHNlfX0=',
    'session-token': 'PMyAzTzUUjCMBg0EadpVwPtGdsscqry58BPRU+x9cch4emebLE0BDX18sCfPZ0USkWkT2L8T+EZw9WVIIA+pNeAyCDuF5QcYu4ZVMmEYXv/5PIZ1tWudUO+VcMzNbJdUFEQ//iQOyj6agdCRt/Rdt8SGnbeDtodrOfl2A1ZeWUlrQ+h7W5uDNfvb87z7jeiOGwemfgXFTTXxte5NFKImN00lm+bfsJVA',
    'adblk': 'adblk_no',
    'as': '%7B%22n%22%3A%7B%22t%22%3A%5B0%2C0%5D%2C%22tr%22%3A%5B0%2C0%5D%2C%22in%22%3A%5B0%2C0%5D%2C%22ib%22%3A%5B0%2C0%5D%7D%7D',
}

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:105.0) Gecko/20100101 Firefox/105.0',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8',
    'Accept-Language': 'pl,en-US;q=0.7,en;q=0.3',
    # 'Accept-Encoding': 'gzip, deflate, br',
    'Alt-Used': 'www.imdb.com',
    'Connection': 'keep-alive',
    # Requests sorts cookies= alphabetically
    # 'Cookie': 'session-id=144-2749664-5747925; session-id-time=2082787201l; csm-hit=tb:7TSKYFGYXAVK42FANVPF+s-VY5AM2WSVN7E5TCB3TDZ|1664432430631&t:1664432430631&adb:adblk_no; ubid-main=133-9067747-5858961; uu=eyJpZCI6InV1ZDYwOTgzNjIwZTc3NDRmMzg1ZWMiLCJwcmVmZXJlbmNlcyI6eyJmaW5kX2luY2x1ZGVfYWR1bHQiOmZhbHNlfX0=; session-token=PMyAzTzUUjCMBg0EadpVwPtGdsscqry58BPRU+x9cch4emebLE0BDX18sCfPZ0USkWkT2L8T+EZw9WVIIA+pNeAyCDuF5QcYu4ZVMmEYXv/5PIZ1tWudUO+VcMzNbJdUFEQ//iQOyj6agdCRt/Rdt8SGnbeDtodrOfl2A1ZeWUlrQ+h7W5uDNfvb87z7jeiOGwemfgXFTTXxte5NFKImN00lm+bfsJVA; adblk=adblk_no; as=%7B%22n%22%3A%7B%22t%22%3A%5B0%2C0%5D%2C%22tr%22%3A%5B0%2C0%5D%2C%22in%22%3A%5B0%2C0%5D%2C%22ib%22%3A%5B0%2C0%5D%7D%7D',
    'Upgrade-Insecure-Requests': '1',
    'Sec-Fetch-Dest': 'document',
    'Sec-Fetch-Mode': 'navigate',
    'Sec-Fetch-Site': 'cross-site',
}

response = requests.get('https://www.imdb.com/chart/top', cookies=cookies, headers=headers)

In [46]:
type(response)

requests.models.Response

In [47]:
response.status_code #should be 200, 400-little problems, 500-big problems

200

In [48]:
#response.text #html as text

In [49]:
html_data = bs4.BeautifulSoup(response.text)
#html_data

In [50]:
tbody=html_data.find("tbody", class_="lister-list")#looking for listerlist in code by tbody-main table
#tbody

In [51]:
rows=tbody.find_all("tr")#findall is looking for rows tr i saves as list

In [52]:
#rows

In [53]:
len(rows) #checking len of list, number of films

250

In [54]:
rows[0]

<tr>
<td class="posterColumn">
<span data-value="1" name="rk"></span>
<span data-value="9.234737469237281" name="ir"></span>
<span data-value="7.791552E11" name="us"></span>
<span data-value="2644821" name="nv"></span>
<span data-value="-1.765262530762719" name="ur"></span>
<a href="/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=C3GWSH7ZPJ7B14AXRFMZ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_1"> <img alt="Skazani na Shawshank" height="67" src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY67_CR0,0,45,67_AL_.jpg" width="45"/>
</a> </td>
<td class="titleColumn">
      1.
      <a href="/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=C3GWSH7ZPJ7B14AXRFMZ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_1" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">Skazani na Shawshank</a>
<span class="secondaryInfo">(1994)</span>
</td>
<td class="ratingColumn imdbRating">
<strong title="9,2 based on 2 644 821 user ratings">9,2</strong>
</td>
<td class="ratingColumn">
<div class="seen-widget seen-widget-tt0111161 pending" data-titleid="tt0111161">
<div class="boundary">
<div class="popover">
<span class="delete"> </span><ol><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li></ol> </div>
</div>
<div class="inline">
<div class="pending"></div>
<div class="unseeable">NOT YET RELEASED</div>
<div class="unseen"> </div>
<div class="rating"></div>
<div class="seen">Seen</div>
</div>
</div>
</td>
<td class="watchlistColumn">
<div class="wlb_ribbon" data-recordmetrics="true" data-tconst="tt0111161"></div>
</td>
</tr>

### ranking

In [55]:
rows[0].find("span")

In [56]:
rows[0].find("span").get("data-value")

'1'

### rating

In [57]:
rows[0].find_all("span")

[<span data-value="1" name="rk"></span>,
 <span data-value="9.234737469237281" name="ir"></span>,
 <span data-value="7.791552E11" name="us"></span>,
 <span data-value="2644821" name="nv"></span>,
 <span data-value="-1.765262530762719" name="ur"></span>,
 <span class="secondaryInfo">(1994)</span>,
 <span class="delete"> </span>]

In [58]:
rows[0].find_all("span")[1]

In [59]:
rows[0].find_all("span")[1].get("data-value")

'9.234737469237281'

### title

In [60]:
rows[0].find("td", class_="titleColumn")

<td class="titleColumn">
      1.
      <a href="/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=C3GWSH7ZPJ7B14AXRFMZ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_1" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">Skazani na Shawshank</a>
<span class="secondaryInfo">(1994)</span>
</td>

In [61]:
rows[0].find("td", class_="titleColumn").find("a")

<a href="/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=C3GWSH7ZPJ7B14AXRFMZ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_1" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">Skazani na Shawshank</a>

In [62]:
rows[0].find("td", class_="titleColumn").find("a").text.strip()

'Skazani na Shawshank'

### year

In [63]:
rows[0].find("td", class_="titleColumn")

<td class="titleColumn">
      1.
      <a href="/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=C3GWSH7ZPJ7B14AXRFMZ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_1" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">Skazani na Shawshank</a>
<span class="secondaryInfo">(1994)</span>
</td>

In [64]:
rows[0].find("td", class_="titleColumn").find("span", class_="secondaryInfo")

In [65]:
rows[0].find("td", class_="titleColumn").find("span", class_="secondaryInfo").text.strip()

'(1994)'

In [66]:
rows[0].find("td", class_="titleColumn").find("span", class_="secondaryInfo").text.strip()[1:-1]

'1994'

### www site

In [67]:
rows[0].find("td", class_="titleColumn")

<td class="titleColumn">
      1.
      <a href="/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=C3GWSH7ZPJ7B14AXRFMZ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_1" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">Skazani na Shawshank</a>
<span class="secondaryInfo">(1994)</span>
</td>

In [68]:
rows[0].find("td", class_="titleColumn").find("a")

<a href="/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=C3GWSH7ZPJ7B14AXRFMZ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_1" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">Skazani na Shawshank</a>

In [69]:
rows[0].find("td", class_="titleColumn").find("a").get("href")

'/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&pf_rd_r=C3GWSH7ZPJ7B14AXRFMZ&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_tt_1'

In [70]:
"http://imdb.com"+rows[0].find("td", class_="titleColumn").find("a").get("href")

'http://imdb.com/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&pf_rd_r=C3GWSH7ZPJ7B14AXRFMZ&pf_rd_s=center-1&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_tt_1'

### no of users

In [71]:
rows[0].find("td", class_="ratingColumn")

<td class="ratingColumn imdbRating">
<strong title="9,2 based on 2 644 821 user ratings">9,2</strong>
</td>

In [72]:
rows[0].find("td", class_="ratingColumn").find("strong")

In [73]:
rows[0].find("td", class_="ratingColumn").find("strong").get("title")

'9,2 based on 2\xa0644\xa0821 user ratings'

In [74]:
rows[0].find("td", class_="ratingColumn").find("strong").get("title").split(" ")

['9,2', 'based', 'on', '2\xa0644\xa0821', 'user', 'ratings']

In [75]:
rows[0].find("td", class_="ratingColumn").find("strong").get("title").split(" ")[-3]

'2\xa0644\xa0821'

In [76]:
rows[0].find("td", class_="ratingColumn").find("strong").get("title").split(" ")[-3].replace("\xa0","")

'2644821'

## result

In [77]:
result=[]
for row in rows:
    ranking = row.find("span").get("data-value")
    rating = row.find_all("span")[1].get("data-value")
    title = row.find("td", class_="titleColumn").find("a").text.strip()
    year = row.find("td", class_="titleColumn").find("span", class_="secondaryInfo").text.strip()[1:-1]
    link= "http://imdb.com"+row.find("td", class_="titleColumn").find("a").get("href")
    users= row.find("td", class_="ratingColumn").find("strong").get("title").split(" ")[-3].replace("\xa0","")
    
    result.append({"ranking":ranking, "rating":rating, "title":title, "year":year, "link":link, "users":users})

In [78]:
df_result=pd.DataFrame(result)
df_result

,ranking,rating,title,year,link,users
0,1,9.234737469237281,Skazani na Shawshank,1994,http://imdb.com/title/tt0111161/?pf_rd_m=A2FGE...,2644821
1,2,9.156369223151822,Ojciec chrzestny,1972,http://imdb.com/title/tt0068646/?pf_rd_m=A2FGE...,1833393
2,3,8.98808100882081,Mroczny Rycerz,2008,http://imdb.com/title/tt0468569/?pf_rd_m=A2FGE...,2616665
3,4,8.984299842785916,Ojciec chrzestny II,1974,http://imdb.com/title/tt0071562/?pf_rd_m=A2FGE...,1256638
4,5,8.949719243655405,Dwunastu gniewnych ludzi,1957,http://imdb.com/title/tt0050083/?pf_rd_m=A2FGE...,780894
...,...,...,...,...,...,...
245,246,8.008870784179829,Dersu Uzała,1975,http://imdb.com/title/tt0071411/?pf_rd_m=A2FGE...,29627
246,247,8.005689423877584,Aladyn,1992,http://imdb.com/title/tt0103639/?pf_rd_m=A2FGE...,415492
247,248,8.005176992763703,Gandhi,1982,http://imdb.com/title/tt0083987/?pf_rd_m=A2FGE...,231225
248,249,8.005005541149567,Służące,2011,http://imdb.com/title/tt1454029/?pf_rd_m=A2FGE...,456877
249,250,8.003149011358737,Stalowy gigant,1999,http://imdb.com/title/tt0129167/?pf_rd_m=A2FGE...,194945